* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  font-family: gilroy;
  color: #fff;
}

.page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.background-video > video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

nav {
  position: relative;
  width: 100%;
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > h1 {
  font-size: 3vw;
  font-weight: 500;
}

.nav-right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 3vw;
}

.nav-right > h1 {
  font-weight: 500;
  font-size: 1.6vw;
}

.nav-right > i {
  font-size: 1.3vw;
  color: #9e9e9e;
}

.page1 > h1 {
  position: absolute;
  bottom: 5%;
  padding-left: 2vw;
  font-size: 2vw;
  font-weight: 500;
}

.page2 {
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: #033035;
  padding: 0vw 6vw;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.page2 > h1 {
  width: 65%;
  /* height: 60%; */
  font-weight: 500;
  font-size: 2.3vw;
}

.page2-right {
  height: 70%;
  display: flex;
  align-items: end;
  width: 35%;
  justify-content: center;
}

.page2-right > button {
  width: 100%;
  padding: 0.6vw 0;
  border: 3px solid #11b4b4;
  background-color: transparent;
  border-radius: 5vw;
  color: #11b4b4;
  font-size: 1.2vw;
  text-transform: uppercase;
  transition: all ease 0.5s;
}

.page2-right > button:hover {
  border-color: #fff;
  color: #fff;
}

.page3 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #033035;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.page3-elem {
  position: relative;
  height: 75%;
  width: calc(100% / 3.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page3-elem-img {
  position: relative;
  height: 95%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3-elem-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page3-elem > h1 {
  font-weight: 500;
  font-size: 1vw;
  opacity: 0.7;
}

.page4 {
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: #033035;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding: 3vw;
}

.page4-line {
  width: 70%;
  height: 1px;
  background-color: #033035;
}

.page4 > h1 {
  margin-top: 4vw;
  color: #033035;
  width: 60%;
  font-weight: 500;
  font-size: 2.5vw;
  text-align: right;
}

.page5 {
  position: relative;
  height: 45vh;
  width: 100%;
  background-color: #a8bbbf;
}

.page5-top {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 2vw;
}

.page5-top-elem {
  text-align: center;
  width: 30%;
}

.page5-top-elem > h1 {
  font-size: 6vw;
  font-weight: 500;
}

.page5-top-elem > h3 {
  font-size: 1.2vw;
  font-weight: 500;
  margin-top: 1vw;
  color: #033035;
}

.page5-top-elem:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page5-top-elem:nth-child(2) > h1 {
  font-size: 10vw;
}

.page5-top-elem:nth-child(3) > h1 {
  font-size: 10vw;
  color: #033035;
  height: 11vw;
}

.page6 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #d9e1dd;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 4vw;
  display: flex;
  justify-content: space-between;
}

.page6-text {
  position: relative;
  width: 45%;
}

.page6-text > h1 {
  padding: 2vw 1vw;
  width: 100%;
  font-size: 1.4vw;
  background-color: #fff;
  color: #033035;
  font-weight: 500;
  /* display: inline-block; */
  margin-top: 0.5vw;
}

.page6-img {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page6-img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page7 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #d9e1dd;
  display: flex;
  justify-content: end;
  padding: 4vw 2vw;
}

.page7-box {
  position: relative;
  height: 100%;
  width: 70%;
}

.page7-box-elem {
  position: relative;
  margin-top: 8vw;
}

.page7-line {
  width: 100%;
  height: 2px;
  background-color: #03303594;
}

.page7-box-elem > h1 {
  color: #033035;
  font-weight: 500;
  margin: 4vw 0;
}

.page7-box-elem > p {
  font-size: 1.1vw;
  color: #000000f5;
  line-height: 1.5;
}

.page7-box-elem > .author {
  margin-top: 4vw;
  font-size: 0.9vw;
}

.page8 {
  position: relative;
  height: 90vh;
  width: 100%;
  background-color: #033035;
  padding: 2vw;
}

.page8 > h1 {
  font-size: 26vw;
  height: 22vw;
  /* background-color: salmon; */
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
  color: #0a2a2e;
  text-transform: uppercase;
}

.page8-box {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.page8-box-elem {
  padding-left: 2vw;
}

.page8-box-elem > h3 {
  font-weight: 500;
  font-size: 1vw;
  margin-bottom: 2vw;
  opacity: 0.8;
}

.page8-box-elem > p {
  font-size: 1vw;
  margin-top: 0.2vw;
  opacity: 0.7;
}

.page8-box-elem > p:nth-child(5) {
  color: #0f9b9c;
}

.page8-box-elem > h4 {
  margin-top: 4vw;
  font-weight: 500;
  color: #0f9c9cc0;
  font-size: 0.9vw;
  opacity: 0.8;
}
